* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color-1: #5CE1E6;
    --primary-color-2: #BE4222;
    --whilte-color: #fff;
    --text-color: #00000;
    --background-color: #D9D9D9;
    --text-font: 'Baloo 2', cursive;
}

html {
    font-family: 'Baloo 2', cursive;


}

body {
    overflow-x: hidden;

}

.grid {
    width: 1200px;
    margin: 0 auto;

}

.grid_full-width {
    width: 100%;
}

.grid_row {
    display: flex;
   
}

.col-8 {
    width: 12.5%;
    padding-left: 10px;
    padding-right: 10px;
}

#header {
    width: 100vw;
    height: 100px;

}

.container {}

.header_logo {}

.logo_link {}

.logo_img {
    width: 90px;
    margin: 3px 0 0 50px;
}

.nav {
    margin-top: 40px;
    margin-left: 0px;
    z-index: 1;
}

.nav_list {
    display: flex;

}

.nav_list-item {
    list-style: none;
    padding: 0 10px;
    position: relative;
    

}
.nav_list-item:hover .nav_product-list {
   display: block;
}
.nav_list-item:hover .nav_list-item--link {
    color: var(--primary-color-1);
    transition: 0.2s ease-out;
}

.nav_list-item--link {
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    font-weight: 900;
}

.nav_list-item--icon {
    padding: 0 10px;
}
.nav_product-list{
    display: none;
    width: 200px;
    background-color: #ffff;
    position: absolute;
    top: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    position: absolute;
    top: 60px;
}
.nav_product-list::before{
    content: " ";
    width: 150px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: -40px;
}
.nav_product-list_item{
   list-style: none;
   padding: 10px 20px;
   box-shadow: inset 0 0 0 0 var(--primary-color-1);
   transition: all 0.2s ease-in;
   cursor: pointer;
}
.nav_product-list_item:hover{
   box-shadow: inset 200px 0 0 0 var(--primary-color-1);
   transition: all 0.2s ease-in;
}
.nav_product-list_item:hover .nav_product-list_item--link{
    color: #ffff;
}
.nav_product-list_item--link{
   color: var(--text-color);
   text-decoration: none;
   font-weight: 600;
}
.banner_header {
    height: 600px;
    background-image: url("./image/banner_trangchu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

}

.banner_search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.banner_search-button {
    width: 70%;
    text-align: center;
    position: relative;
}

.banner_search--input {
    width: 50%;
    height: 50px;
    font-family: var(--text-font);
    font-size: 18px;
    background-color: transparent;
    outline-style: none;
    border: 3px solid #000000;
    border-radius: 999px;
    padding-left: 50px;
    transition: all 0.3s ease-out;
}

.banner_search--input:focus {
    width: 100%;
    transition: all 0.3s ease-in;
}

.fa-solid {}

.fa-magnifying-glass {}
.banner_search--input:focus ~ .banner_search--icon{
    left: 20px;
    transition: all 0.3s ease-in;
}
.banner_search--icon {
    font-size: 20px;
    position: absolute;
    left: 230px;
    top: 15px;
    transition: all 0.3s ease-out;

}

.account-link {

    margin-left: 20px;
}

.login-link,
.register-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;

}

.login-link {
    color: var(--primary-color-2);
    margin-right: 10px;
    transition: all 0.2s ease-out;
}

.register-link {
    color: var(--primary-color-1);
    transition: all 0.2s ease-out;
}

.login-link:hover{
    color: var(--primary-color-1);
    transition: all 0.2s ease-in;
}
.register-link:hover{
    color: var(--primary-color-2);
    transition: all 0.2s ease-in;
}
.search_table {
    width: 100%;
    height: 190px;
    border: 1px solid #000000;
    margin-top: 30px;
}

.search_table-head {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #000000;
    background-color: var(--primary-color-1);
}

.search_table-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.table_content-search {
    display: flex;
    flex-direction: column;
}

.content_search-title {
    font-size: 20px;
    font-weight: 900;
}

.content_search-input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-family: var(--text-font);
    outline-color: var(--primary-color-1);
    padding-left: 10px;
}

.table_content-choose {
    width: 10%;
}

.content_choose-title {
    font-size: 20px;
    font-weight: 900;

}

.content_choose-button {
    width: 100%;
    position: relative;
}

.content_choose--btn {
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-family: var(--text-font);
    background-color: transparent;
    padding-right: 30px;
}
.content_choose--btn:focus ~ .content-choose_list{
    display: block;
}
.fa-solid {}

.fa-chevron-down {}

.content_choose--icon {
    position: absolute;
    top: 12px;
    right: 15px;
}

.content_search-button {
    width: 130px;
    height: 40px;
    background-color: #000000;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    box-shadow: inset 0 0 0 0 var(--primary-color-1);
    transition: all 0.2s ease-out;
    cursor: pointer;

}

.content_search-button:hover{
    box-shadow: inset 140px 0 0 0 var(--primary-color-1);
    transition: all 0.2s ease-in;
}
.content_choose-button--text {
   color: #ffff;
   line-height: 40px;
   font-size: 20px;
   font-weight: 900;
} 

.fa-magnifying-glass {}

.content_choose-button--icon {
   color:#ffff;
   font-weight: 900;
  
}
.content-choose_list{
    display: none;
     width: 300px;
     height: 150px;
     background-color: #ffff;
     box-shadow: 0 0 10px #b59f9fcc;
     border-radius: 8px;
     overflow-y: scroll;
     scroll-behavior: smooth;
     position:absolute;
     top: 50px;

}
.content-choose_list::-webkit-scrollbar{
    width: 10px;
}
.content-choose_list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #dddd;
    
}
.content-choose_list::-webkit-scrollbar-thumb{
    background: var(--primary-color-1);
}
.content-choose_list-item{
  padding: 10px 30px;
  list-style: none;
  box-shadow: inset 0 0 0 0 var(--primary-color-1);
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.content-choose_list-item:hover{
  box-shadow: inset 300px 0 0 0 var(--primary-color-1);
  transition: all 0.2s ease-in;
}
.content-choose_list-item--link{
   text-decoration: none;
   font-size: 20px;
   color: var(--text-color);
}
.content-choose_list-item:hover{
    font-weight: 900;
    font-size: 21px;
    color: #ffff;

}
.best_product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: var(--primary-color-1);
    margin-top: 50px;
}
.best_product-title{
   
    font-size: 50px;
    color: #ffff;
    font-weight: 900;
    word-spacing: 10px;
}
.product{
  width: 25%;
  margin-top: 50px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.product:hover{
   transform: translateY(-10px);
   transition: all 0.3s ease-in;
}
.product_image{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 200px;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
}
.product_image:hover{
    transform: scale(1.05);
    transition: all 0.4s ease-in;
}
.product_name{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.product_name--text{
   font-size: 20px;
   font-weight: 900;
}
.product_price{
    text-align: center;
   border-top: 1px solid #dddddd;
   border-bottom: 1px solid #dddddd;
}
.product_price--text{
   font-size: 20px;
}
.product_info{
   height: 70px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 0 18px;
}
.product_info-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-solid{

}
.fa-calendar-days{

}
.product_info-item--icon{

}
.product_info-item--text{
  margin-top: 5px;
}
.fa-users{

}
.fa-gears{

}
.view_more-button{
    width: 100%;
   text-align: center;

}
.view_more-btn{
   width: 200px;
   height: 50px;
   background-color: var(--primary-color-1);
   border: none;
   border-radius: 5px;
   color: #ffffff;
   font-family: var(--text-font);
   font-weight: 900;
   font-size: 20px;
   margin-top: 30px;
   box-shadow: inset 0 0 0 0 #ffff;
   transition: all 0.2s ease-out;
   cursor: pointer;
}
.view_more-btn:hover{
   box-shadow: inset 200px 0 0 0 #ffffff;
   color:var(--primary-color-2);
   font-size: 21px;
   border: 5px solid var(--primary-color-2);
   transition: all 0.2s ease-in;
}
.news{
  width: 100%;
  height: 550px;
  background-color: #1a2642;
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.news::before{
   content: "";
   border-left: 500px solid #fff;
   border-bottom: 600px solid transparent;
   border-top: 600px solid transparent;
   border-right: 600px solid transparent;
   position: absolute;
}
.news-headtiltle{
   width: 100%;
   text-align: center;
   padding-top: 30px;
}
.news-title{
  font-size: 30px;
  font-weight: 900;
  color: #ffff;
}
.news-text{
  color: #cccc;
  font-size: 20px;
}
.news-content{
   width: 100%;
   margin-top: 30px;
}

.news-content_item{
   width: 25%;
   border: 1px solid #fff;
   background-color: rgb(26, 38, 66,0.7);
   margin-left: 10px;
   margin-right: 10px;
   z-index: 1;  
    overflow: hidden;
}
.news-content_item-image{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 200px;
 
    transition: all 0.4s ease-out;
    
}
.news-content_item-image:hover{
   transform: scale(1.05);
   transition: all 0.4s ease-in;
}
.news-content-link{
   padding: 10px 20px;
   text-align: justify;
}
.new-conten_item-link--link{
   text-decoration: none;
   color: #fff;
   font-size: 20px;
   font-weight: 600;
   word-spacing: 1px;
   transition: all 0.2s ease-out;
}
.new-conten_item-link--link:hover{
     color: red;
     transition: all 0.2s ease-in;
}
.product_section{
}
.product_section-head{

}
.product_section-head--title{
    width: 85px;
    font-size: 30px;
    padding: 0px 5px;
    border-bottom: 1px solid red;
}
.product_section-content_slider-numberlist{
  width: 100%;
  margin-top: 50px;
  display: flex;
   justify-content: center;
   align-items: center;
}
.fa-solid{
  
}
.fa-angle-left{

}
.product_section-content_slider-numberlis-icon{
     color: rgba(0,0,0,0.5);
     font-size: 20px;
     margin: 0 10px;
}
.product_section-content_slider-numberlis_item{
     list-style: none;
     padding: 5px 15px;
     border-radius: 900px;
     margin: 0 10px;
     background-color: var(--primary-color-1);
     transition: all 0.2s ease-out;
}
.product_section-content_slider-numberlis_item:hover{
   background-color: var(--primary-color-2);
   transition: all 0.2s ease-in;
}
.product_section-content_slider-numberlis_item--link{
     text-decoration: none;
     font-size: 18px;
     color: #ffff;
     font-weight: 600;
}
.fa-angle-right{
   
}
.banner_body{
    background-image: url("./image/banner_body.jpg");
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
    margin: 100px 0;


}
#footer{
    height: 600px;
    background-image: url("./image/bg_footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}
#footer::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;

}
.footer_title{
   font-size: 70px;
   font-weight: 900;
   text-shadow: 0 0 5px #fff;
   color: var(--primary-color-1);
   padding-top: 30px;
}
.footer_content{
  margin-top: 20px;
  float: left;
}
.content_1{
    width: 33.3333%;
}
.content_2{
    width: 25%;
    margin-left: 100px;
}
.content_3{
    width: 25%;
    margin-left: 100px;
}
.content_title{
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}
.content_text-list{
   
}
.content_text-list_item{
   display: flex;
   align-items: center;
   list-style: none;
   padding: 10px 0;
   
}
.fa-solid{

}
.fa-location-dot{

}
.text-list_item--icon{
    color: rgba(255,255,255,0.7);
} 

.text-list_item--link{
    font-size: 20px;
   color: rgba(255,255,255,0.7);
   text-decoration: none;
   margin-left: 10px;
}
.fa-phone{

}
.store_list-button{
   width: 100%;
   background-color: #fff;
   text-align: center;
   border-radius: 5px;
   padding: 10px 0;
   margin-top: 10px;
   transition: all 0.2s ease-out;
}
.store_list-button:hover{
   background-color: #5CE1E6;
   transition: all 0.2s ease-in;
   cursor: pointer;
}
.store_list-button:hover .store_list-button-link{
  color: #ffff;
  font-size: 19px;
  transition: all 0.2s ease-in;
}
.store_list-button-link{
   text-decoration: none;
   color: var(--text-color);
   font-weight: 900;
   font-size: 20px;
   transition: all 0.2s ease-out;
} 
.store_list-button_actived{
    background-color: #5CE1E6;
}
.store_list-button-link_actived{
    color: #ffff;
    font-size: 19px;
}
.fa-envelope{

}
.social-contact{
  width: 100%;
  margin-top: 30px;
}
.social-contact_list{
   display: flex;
   justify-content: space-around;
}
.social-contact_list-item{
     list-style: none;
     transition: all 0.2s ease-out;
    
}
.social-contact_list-item:hover{
   transform: translateY(-10px);
   transition: all 0.2s ease-in;
}
.social-contact_list-item--link{
   font-size: 40px;
   color: #ffff;
}
.social-contact_list-item--link:hover{
  
}


.social-contact_list-item--icon{

}
.fa-brands{

}
.fa-facebook{

}
.fa-tiktok{

}
.fa-youtube{

}
.fa-instagram{

}
.content_title{

}
.content_text{ 
    font-size: 25px;
    color: rgba(255,255,255,0.7);
    margin-top: 50px;
}
.info_register{
  width: 100%; 
  position: relative;
}
.info_register-input{
  width: 100%;
  font-size: 16px;
  padding: 10px 10px;
  outline: none;

}
.info_register-btn{
   width: 100px;
   height: 34px;
   font-size: 16px;
   font-weight: 900;
   font-family: var(--text-font);
   color: #ffff;
   background-color: black;
   position: absolute;
   right: 4px;
   top: 4px;
   cursor: pointer;
   box-shadow: inset 0 0 0 0 var(--primary-color-1);
   transition: all 0.2s ease-out;

}
.info_register-btn:hover{
    box-shadow: inset 100px 0 0 0 var(--primary-color-1);
    transition: all 0.2s ease-in;
}
.copyright{
     width: 100%;
     clear: both;
     text-align: center;
     
}
.copyright_text{
     color: rgba(255,255,255,0.7);
     font-size: 15px;
}